<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.games.tap.mapper.GameMapper">
    <insert id="insertGame">
        insert into game(gid,hot, name, score, url, intro,picture,icon) VALUES
            (#{gId},#{hot},#{name},#{score},#{url},#{intro},#{picture},#{icon})
    </insert>

    <insert id="insertType">
        insert into game_type(gid, type) VALUES
        <foreach collection="types" item="type" separator=",">
            (#{gId},
            #{type})
        </foreach>
    </insert>

    <delete id="deleteType">
        delete from game_type where gid=#{gId} and type in
        <foreach collection="types" item="type" separator="," open="(" close=")">
            #{type}
        </foreach>
    </delete>

    <update id="updateGame">
        update game
        <set>
            <if test="hot != null">
                hot=#{hot},
            </if>
            <if test="name != null and name !=''">
                name=#{name},
            </if>
            <if test="score != null">
                score=#{score},
            </if>
            <if test="url != null and url !=''">
                url=#{url},
            </if>
            <if test="intro != null and intro !=''">
                intro=#{intro},
            </if>
            <if test="picture != null and picture !=''">
                picture=#{picture},
            </if>
            <if test="icon != null and icon !=''">
                icon=#{icon},
            </if>
        </set>
        where gid=#{gId}
    </update>

    <delete id="deleteGameById">
        delete from game where gid=#{gId};
        delete from game_type where gid=#{gId};
    </delete>
    <delete id="deleteTypeById">
        delete from game_type where gid=#{gId};
    </delete>


    <select id="getAllGame" resultType="com.games.tap.domain.Game">
        SELECT game.gid as gid,game.hot,game.name,
               game.picture,game.score,game.url,game.intro,game.icon,table_type.type as types
        FROM game left join
             (SELECT game_type.gid,GROUP_CONCAT(game_type.type SEPARATOR ',') type
              FROM game_type
              GROUP BY game_type.gid)as table_type
             on game.gid=table_type.gid
    </select>


    <select id="getGameList" resultType="com.games.tap.domain.Game">
        SELECT game.gid as gid,game.hot,game.name,
               game.picture,game.score,game.url,game.intro,game.icon,table_type.type as types
        FROM game left join
             (SELECT game_type.gid,GROUP_CONCAT(game_type.type SEPARATOR ',') type
              FROM game_type
              GROUP BY game_type.gid)as table_type
             on game.gid=table_type.gid
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <select id="OrderByHot" resultType="com.games.tap.domain.Game">
        SELECT game.gid as gid,game.hot,game.name,
               game.picture,game.score,game.url,game.intro,game.icon,table_type.type as types
        FROM game left join
             (SELECT game_type.gid,GROUP_CONCAT(game_type.type SEPARATOR ',') type
              FROM game_type
              GROUP BY game_type.gid)as table_type
             on game.gid=table_type.gid
            order by hot desc
    </select>


    <select id="getOrderList" resultType="com.games.tap.domain.Game">
        SELECT game.gid as gid,game.hot,game.name,
               game.picture,game.score,game.url,game.intro,game.icon,table_type.type as types
        FROM game left join
             (SELECT game_type.gid,GROUP_CONCAT(game_type.type SEPARATOR ',') type
              FROM game_type
              GROUP BY game_type.gid)as table_type
             on game.gid=table_type.gid
        order by hot desc
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <select id="getById" resultType="com.games.tap.domain.Game">
        SELECT game.gid,hot,name,picture,score,url,intro,icon,table_type.type as types
        FROM (select * from game where game.gid=#{gId})game left join
             (SELECT game_type.gid,GROUP_CONCAT(game_type.type SEPARATOR ',') type
              FROM game_type
              GROUP BY game_type.gid)as table_type
             on game.gid=table_type.gid
    </select>

    <select id="isExisted" resultType="java.lang.Integer">
        select * from game where gid=#{gId} LIMIT 1
    </select>
    <select id="isTypeExited" resultType="java.lang.Integer">
        select * from game_type where gid=#{gId} and type=#{type} LIMIT 1
    </select>
    <select id="getGidByType" resultType="java.lang.Long">
        select gid from game_type where type=#{type}
    </select>
    <select id="getTypeList" resultType="java.lang.Long">
        select gid from game_type where type=#{type}
        LIMIT #{pageSize} OFFSET #{offset}
    </select>
    <select id="selectByName" resultType="java.lang.Long">
        select gid from game where name=#{name}
    </select>


</mapper>