<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.games.tap.mapper.GameMapper">
    <insert id="insertGame">
        insert into game(hot, name, score, url, intro,picture,icon) VALUES (#{hot},#{name},#{score},#{url},#{intro},#{picture},#{icon})
    </insert>

    <insert id="insertType">
        insert into game_type(gid, type) VALUES
        <foreach collection="types" item="type" separator=",">
            (#{gid},
            #{type})
        </foreach>
    </insert>

    <select id="getAllGame" resultType="com.games.tap.domain.Game">
        SELECT table_type.gid as gid,game.hot,game.name,
               game.picture,game.score,game.url,game.intro,game.icon,table_type.type as type
        FROM game right outer join
        (SELECT game_type.gid,GROUP_CONCAT(game_type.type SEPARATOR ',') type
        FROM game_type
        GROUP BY game_type.gid)as table_type
        on game.gid=table_type.gid
    </select>

    <select id="getGidByGame" resultType="java.lang.Long">
        SELECT gid from game
        <where>
            <if test="hot != null">
                and hot=#{hot}
            </if>
            <if test="name != null and name !=''">
                and name=#{name}
            </if>
            <if test="score != null">
                and score=#{score}
            </if>
            <if test="url != null and url !=''">
                and url=#{url}
            </if>
            <if test="intro != null and intro !=''">
                and intro=#{intro}
            </if>
        </where>
    </select>

</mapper>