<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.games.tap.mapper.PostMapper">

    <insert id="insertPost" parameterType="com.games.tap.domain.Post" useGeneratedKeys="true" keyProperty="pId">
        INSERT INTO post (content, fid, last_date, post_time, title, uid, picture)
        VALUES (#{content},#{fId},#{lastDate},#{postTime},#{title},#{uId},#{picture})
    </insert>

    <update id="updateReadingNum">
        UPDATE post SET reading_num=reading_num+1 WHERE pid=#{pid}
    </update>

    <delete id="deleteByPId">
        DELETE FROM reply WHERE pid=#{pid};
        DELETE FROM post WHERE pid=#{pid};
    </delete>

</mapper>