<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.games.tap.mapper.UserMapper">

    <select id="getAllUser" resultType="com.games.tap.domain.User">
        select * from user
    </select>

    <select id="getUserList" resultType="com.games.tap.vo.UserInfo">
        SELECT uid,nickname,avatar,intro,fans_num
        FROM user ORDER BY fans_num DESC
        <if test="pageSize!=null ">
            LIMIT #{pageSize}
        </if>
        <if test="offset!=null ">
            OFFSET #{offset}
        </if>
    </select>

    <select id="getUserPostList" resultType="com.games.tap.vo.UserPostInfo">
        SELECT fpost.*,f.name AS forum_name,avatar,level,IFNULL(username,'用户已注销') AS username,
        (IF(pl.id IS null, false, true)) AS is_like
        FROM (SELECT * FROM post WHERE uid=#{uid}) fpost

        LEFT JOIN user u ON fpost.uid = u.uid
        LEFT JOIN forum_user fu ON fpost.fid = fu.fid AND fpost.uid = fu.uid
        LEFT JOIN forum f ON fpost.fid = f.fid
        LEFT JOIN post_like pl ON fpost.pid = pl.pid AND pl.uid = #{uid}
        ORDER BY
        <choose>
            <when test="rank==1 ">post_time</when>
            <when test="rank==2 ">reply_num</when>
            <otherwise>last_date</otherwise>
        </choose>
        DESC
        <if test="pageSize!=null ">
            LIMIT #{pageSize}
        </if>
        <if test="offset!=null ">
            OFFSET #{offset}
        </if>
    </select>

    <select id="getUserAvatarById" resultType="java.lang.String">
        select avatar from user where uid=#{uId}
    </select>

    <select id="getPasswordById" resultType="java.lang.String">
        select password from user where uid=#{id}
    </select>

    <select id="getUsernameById" resultType="java.lang.String">
        SELECT username FROM user WHERE uid=#{id}
    </select>

    <select id="getUserById" resultType="com.games.tap.domain.User">
        SELECT * FROM user WHERE uid=#{id}
    </select>

    <select id="getUserByUserName" resultType="com.games.tap.domain.User">
        SELECT * FROM user WHERE username=#{name}
    </select>
    <select id="getIdByUserName" resultType="java.lang.Long">
        SELECT uid FROM user WHERE username=#{name}
    </select>
    <select id="getBackgroundById" resultType="java.lang.String">
        select background from user where uid=#{uId}
    </select>

    <!--    <cache readOnly="true"/>-->
    <update id="updateUserAvatar">
        UPDATE user SET avatar= #{avatar} WHERE uid=#{uId}
    </update>
    <update id="updatePassword">
        update user set password=#{password} where uid=#{uId}
    </update>
    <update id="updateUser" parameterType="com.games.tap.domain.User">
        UPDATE user SET intro=#{intro},nickname=#{nickname},avatar=#{avatar},background=#{background},
                gender=#{gender},username=#{username},password=#{password} WHERE uid=#{uId}
    </update>
    <update id="updateBackground">
        UPDATE user SET background=#{background} WHERE uid=#{uId}
    </update>

    <insert id="insertUser" parameterType="com.games.tap.domain.User" useGeneratedKeys="true" keyProperty="uId">
        INSERT INTO user (username, password, nickname, gender,intro, register_time)
        VALUES (#{username}, #{password}, #{nickname}, #{gender}, #{intro},#{registerTime})
    </insert>

    <delete id="deleteUserById">
        DELETE FROM user WHERE uid=#{id};
        DELETE FROM collection WHERE uid=#{id};
        DELETE FROM forum_user WHERE uid=#{id};
    </delete>

    <insert id="postCollection">
        insert into collection(pid, uid) VALUES (#{pid},#{uid})
    </insert>

    <delete id="postCancelCollection">
        delete from collection where uid=#{uid} and pid=#{pid}
    </delete>

    <select id="isCollectionExited" resultType="java.lang.Integer">
        select * from collection where uid=#{uid} and pid=#{pid}
    </select>

    <update id="addCollectionNum">
        UPDATE post SET collect_num=post.collect_num+1 WHERE pid=#{pid}
    </update>

    <update id="subCollectionNum">
        UPDATE post SET collect_num=post.collect_num-1 WHERE post.collect_num>=0 and pid=#{pid}
    </update>

    <select id="getUserCollectList" resultType="com.games.tap.vo.UserPostInfo">
        SELECT post.*,f.name AS forum_name,avatar,level,IFNULL(username,'用户已注销') AS username,
        (IF(pl.id IS null, false, true)) AS is_like
        FROM (SELECT * FROM collection WHERE uid=#{uid}) pl
        LEFT JOIN post ON post.pid = pl.pid AND pl.uid = #{uid}
        LEFT JOIN user u ON pl.uid = u.uid
        LEFT JOIN forum_user fu ON post.fid = fu.fid AND pl.uid = fu.uid
        LEFT JOIN forum f ON post.fid = f.fid
        ORDER BY last_date DESC
        <if test="pageSize!=null ">
            LIMIT #{pageSize}
        </if>
        <if test="offset!=null ">
            OFFSET #{offset}
        </if>
    </select>
</mapper>