<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.games.tap.mapper.UserMapper">
    <select id="getAllUserInfo" resultType="com.games.tap.domain.UserInfo">
        select * from user_info
    </select>

    <select id="getPicByName" resultType="com.games.tap.domain.UserInfo">
        select uid,avatar,nickname from user_info where nickname=#{name}
    </select>
    <cache readOnly="true"/>
    <insert id="insertAvatar">
        insert into user_info(avatar) values (#{avatar})
    </insert>
    <insert id="insertBackground">
        insert into user_info(background) values (#{background})
    </insert>

    <select id="getUserById" resultType="com.games.tap.domain.UserInfo">
        SELECT * FROM user_info WHERE uid=#{id}
    </select>
</mapper>